.toolbar{
    background-color: rgba(178, 253, 178, 0.8);
    border-radius: 40px;

}
.appbar{
    border-radius: 40px;
    position: sticky;
}

.logo{
    align-items: center;
    text-align: center;
}